@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/* Caricamento dei font personalizzati */
@font-face {
    font-family: 'DrukText-Medium-Trial';
    src: url('fonts/DrukText-Medium-Trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MazzardH-Medium';
    src: url('fonts/MazzardH-Medium.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/*
@font-face {
    font-family: 'MazzardH-Light';
    src: url('fonts/MazzardH-Light.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
*/

/* Definisci il font per gli altri browser */
@font-face {
    font-family: 'MazzardH-Light';
    src: url('fonts/MazzardH-Light.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Media query specifica per Safari */
@media not all and (min-resolution: 0.001dpcm) {
    /* Definisci il font per gli altri browser */
    @font-face {
        font-family: 'MazzardH-Light';
        src: url('fonts/DrukText-Medium-Trial.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }
}

@font-face {
    font-family: 'bodoni-72-book-italic';
    src: url('fonts/bodoni-72-book-italic.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'bodoni-72-bold';
    src: url('fonts/bodoni-72-bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Saturday-Lovin';
    src: url('fonts/Saturday-Lovin.ttf') format('truetype');
    font-style: normal;
}

*{
    outline: transparent !important;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

body {
    font-family: "Darker Grotesque", sans-serif;
    background-color: #1d3b62;
    margin: 0;
    padding: 20px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #1d3b62;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-bottom: 30px;
}

h1 {
    font-size: 60px;
    color: white;
    font-weight: 700;
    margin: 20px 15px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2 {
    font-weight: 600;
    font-size: 52px;
    color: #000;
    font-size: 37px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

h3 {
    font-size: 25px;
    margin-bottom: 5px;
}

h4 {
    font-family: 'Saturday-Lovin';
    padding-top: 10px;
    font-size: 54px;
    color: #e1624b;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.teams_container{
    margin: 10px 0;
}

.teams_container select{
    margin: 0;
}

@media(min-width: 1200px) {
    .container {
        flex-direction: row;
    }
}

.inputs, .preview {
    background-color: #fff;
    padding: 0 25px 8px 25px;
    margin: 10px;
    border-radius: 16px;
    max-width: 900px;
    max-height: min-content;
}

@media(max-width: 550px) {
    body {
        padding: 20px 0;
    }
    .inputs, .preview {
        background-color: #fff;
        padding: 0 20px 2px 20px;
        margin: 10px 0;
        border-radius: 0;
        max-width: 900px;
    }

    h1 {
        font-size: 40px;
        color: white;
        font-weight: 700;
        margin: 12px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    h4 {
        font-size: 40px;
        padding-bottom: 20px;
        margin-top: 0;
    }

    .title div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        margin-bottom: 30px;
    }

    .logo{
        height: 56px;
        width: auto;
    }

    .headings{
        margin-bottom: 0;
    }

    .upload-item {
        border: 1.5px dashed #1d3b62 !important;
    }
    
    .upload-item.selected {
        border: 1.5px solid #1d3b62 !important;
    }

    .score{
        padding: 0 !important;
    }
    .score .col{
        display: flex;
        align-items: center;
    }
    .score h1{
        margin-bottom: 10px;
    }

    .button-link {
        display: none;
    }
    
    .number-input-fz{
        margin-bottom: 5px;
    }

}

.inputs {
    flex: 1 1 300px;
}

.preview {
    flex: 1 1;
    transition: opacity 0.5s ease-in-out;
}

.preview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#jsonDisplay {
    color: white;
}

.cell100 {
    width: 100%;
    display: flex;
    justify-content: center;
}

select {
    all: unset;
    cursor: pointer;
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

input[type="number"] {
    all: unset;
    border: 0;
    font-size: 42px;
    width: 70px;
    text-align: center;
    background: none;
    border: none !important;
    border-radius: 6px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-container input{
    border: 0;
    font-size: 21px !important;
    width: 60px !important;
    text-align: center;
}

.number-container {
    margin: 8px 0;
    display: flex;
    height: 42px !important;
    align-items: center;
    background: #e8f0f8;
    border-radius: 6px;
}

.number-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.score .col{
    justify-content: space-evenly !important;
}

.symbol-arrow-left img{
    padding: 0 10.5px;
}

.symbol-arrow-left{
    margin: 5px;
    width: 36px;
    height: 32px;
    border-radius: 6px;
    background: white;
    border: none;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
    line-height: 0.1;
}

.symbol-arrow-active{
    background: #1d3b62;
}

.symbol-arrow-active:hover{
    opacity: 0.8;
}

.symbol-arrow{
    position: absolute;
    margin: 5px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: white;
    border: none;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
    line-height: 0.1;
}

.symbol{
    margin: 5px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: white;
    border: none;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
    line-height: 0.1;
}

.symbol p{
    margin: 0;
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 300 !important;
    color: #506a8a;
}

.symbol:hover{
    opacity: 0.5;
}

input[type="text"], select, .input {
    width: 100%;
    padding: 5px;
    padding-left: 7px;
    margin: 8px 0;
    box-sizing: border-box;
    background: #e8f0f8;
    border: 4px solid transparent;
    border-radius: 6px;
    height: 42px !important;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border: 4px solid #9fc2e6;
}

.col100 div{
    width: 100%;
}

.col {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col .w100{
    width: 100%;
}

.col .div {
    width: 100%;
    display: flex;
    justify-content: right;
}

.col .div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_back {
    margin: 8px 0;
    background: #e8f0f8;
    display: flex;
    justify-content: right !important;
    border-radius: 6px;
    height: 42px;
    width: 100%;
}

.div_back div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_back select,
.div_back input{
    margin: 0;
}

#goalPlayerInput{
    padding-top: 3px;
    padding-bottom: 7px;
}

.div2 {
    width: 100%;
    display: flex;
    justify-content: right !important;
    align-items: center;
}

.div2 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swap-div {
    display: flex;
    justify-content: center;
    height: 100%;
    width: min-content;
}

.swap-button {
    margin: 0 8px;
    padding: 10px;
    max-height: 42px;
    background-color: #e04413;
    border-radius: 6px;
    border: none;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
}

.swap-button:hover {
    background-color: #af360f;
}

.swap-button-player {
    margin-left: 8px;
    padding: 10px;
    max-height: 42px;
    background-color: #e04413;
    border-radius: 6px;
    border: none;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
}

.swap-button-player:hover {
    background-color: #af360f;
}

.button {
    margin-top: 25px;
    margin-right: 12px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #e04413;
    border: 2px solid #e04413 !important;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 800;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}

.button:hover {
    background-color: #af360f;
    border: 2px solid #af360f !important;
}

.download-buttons {
    margin-top: 15px;
}

/* Stile per la selezione delle categorie */
.category-selection {
    margin-top: 10px;
}

.button-link {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: 2px solid #e04413;
    color: #e04413;
    font-weight: 800;
    text-transform: uppercase;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}

.button-link:hover {
    color: white;
    background: #e04413;
}

/* Stili attivi per i pulsanti selezionati */
button.active {
    background-color: #007BFF; /* Colore di sfondo attivo */
}

.carousel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

.carousel-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

.carousel-item {
    margin: 10px;
}

.carousel-item a:hover{
    color: #e04413;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.carousel-item a:hover canvas{
    border: 8px solid #e97b5a;
}

.carousel-item a{
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

canvas {
    border: 8px solid #8eb2da;
    border-radius: 16px;
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

select[readonly] {
    pointer-events: none;
    touch-action: none;
    background-color: #e9ecef;
}

.graphics-selection {
    margin-bottom: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.graphics-selection input[type="checkbox"] {
    display: none; /* Nasconde le checkbox reali */
}

.graphics-selection label {
    padding: 8px 20px;
    border-radius: 50px;
    margin: 4px 6px 3px 0;
    color: black;
    background: #e8f0f8;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

/* Cambia lo sfondo quando la checkbox è selezionata */
.graphics-selection input[type="checkbox"]:checked + label {
    background: #1d3b62; /* Sfondo blu */
    color: white; /* Cambia il colore del testo per un contrasto migliore */
}

/* Effetto hover opzionale */
.graphics-selection label:hover {
    background: #c0d6e4; /* Leggermente più scuro al passaggio del mouse */
    transform: scale(0.97);
}

.chooseImage {
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
}

.upload-container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 15px;
}

.upload-container-title {
    display: flex;
    align-items: center;
    padding: 5px;
}

.upload-container-title input {
    font-size: 18px;
    width: 50px;
    color: #1d3b62;
}

.upload-container-title label {
    padding-right: 0!important;
}

.upload-container-title label:nth-of-type(2) {
    margin-left: auto;
}

.upload-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 2px dashed #1d3b62;
    background-color: #f2f6fb;
    cursor: pointer;
    border-radius: 8px;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    max-width: 450px;
}

.upload-item label {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 15px;
    cursor: pointer;
}

.upload-item input[type="file"] {
    padding: 14px;
    padding-top: 0px;
    font-size: 11px;
    cursor: pointer;
}

.upload-item:hover {
    opacity: 0.7;
}

.upload-item.selected {
    border: 2px solid #1d3b62;
    background: #1d3b62;
    color: white !important;
}

.upload-item.selected input {
    color: white !important;
}

.upload-item.selected input::placeholder {
    color: white !important;
    opacity: 0.8;
}

.upload-item.selected .st0,
.upload-item.selected .st1,
.upload-item.selected .cls-1,
.upload-item.selected .cls-2 {
    fill: white !important;
    stroke: white !important;
}

.nextmatch-title {
    font-size: 36px;
    color: white;
    font-family: 'bodoni-72-bold', serif;
    text-align: center;
    margin-bottom: 20px;
}

.nextmatch-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.nextmatch-team {
    font-size: 28px;
    color: white;
    font-family: 'MazzardH-Medium', sans-serif;
    margin: 0 20px;
}

.nextmatch-vs {
    font-size: 28px;
    color: #e04413;
    font-family: 'DrukText-Medium-Trial', sans-serif;
}

.nextmatch-stadium {
    font-size: 20px;
    color: white;
    font-family: 'MazzardH-Medium', sans-serif;
    text-align: center;
}


/* Stili per il campo di input della posizione dello stadio */
#stadiumLocationSection {
    display: none;
}


#stadiumLocation {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    background: #e8f0f8;
    border: 4px solid transparent;
    border-radius: 6px;
}

#stadiumLocation:focus {
    border: 4px solid #9fc2e6;
}


/* Aggiungi questi stili alla fine del tuo file styles.css */

/* Stili per i pulsanti delle grafiche nella sezione Anteprima */
.graphic-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.graphic-tab {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-underline-offset: 5px;
    background: transparent !important;
    color: #404040;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    border: none!important;
    width: min-content;
}

.graphic-tab.active {
    text-decoration: underline;
}

.graphic-tab:hover{
    color: #e04413 !important;
}


select:disabled {
    background-color: #e8f0f8; /* Colore di sfondo per indicare disabilitazione */
    padding: 8px;
    color: #a0a0a0; /* Colore del testo disabilitato */
    border: 1px solid #c0d6e4; /* Colore bordo */
    cursor: not-allowed; /* Mostra un cursore di divieto */
    opacity: 0.6; /* Aggiunge un effetto visivo di trasparenza */
}

label.label-text{
    color: #c86f51 !important;
    padding: 0 !important;
    background: none !important;
    opacity: 0.8;
    margin-left: auto !important;
}

label.label-text:hover{
    transform: scale(1) !important;
    cursor: default ;
    opacity: 0.4;
}

label.work {
    font-size: 12px;
    font-weight: 700;
    background-color: #edd6c4 !important;
    opacity: 0.7;
    color: black !important;
    padding: 6px 18px;
}

input[type="checkbox"].work:checked + label {
    font-size: 12px;
    font-weight: 700;
    background-color: #c86f51 !important;
    opacity: 0.7;
    color: white !important;
    padding: 6px 18px;
}

.player-selection {
    margin-bottom: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.player-selection select {
    padding: 8px 5px;
    text-align: center;
    border-radius: 50px;
    margin: 4px 6px 3px 0;
    width: 60px;
    color: black;
    background: #e8f0f8;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.player-selection input {
    padding: 8px 5px;
    border-radius: 6px;
    margin: 4px 6px 3px 0;
    padding-left: 20px;
    min-width: 200px;
    max-width: 50%;
    width: 100%;
    color: black;
    border: none;
    background: #e8f0f8;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.customStartingXI {
    text-align: center;
    border-radius: 50px;
    margin: 4px 6px 3px 0;
    width: 60px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d3b62;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
}

.customStartingXI input {
    display: none;
}

/* Cambia lo sfondo quando la checkbox è selezionata */
.player-selection select.select,
.customStartingXI input {
    background: #1d3b62; /* Sfondo blu */
    color: white; /* Cambia il colore del testo per un contrasto migliore */
}

.customStartingXI:hover {
    background: #456288 !important; /* Leggermente più scuro al passaggio del mouse */
    transform: scale(0.97);
}

/* Effetto hover opzionale */
.player-selection label:hover {
    background: #c0d6e4; /* Leggermente più scuro al passaggio del mouse */
    transform: scale(0.97);
}

.graphics-time {
    margin-top: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.graphics-time label {
    padding: 8px 20px;
    border-radius: 50px;
    margin: 4px 6px 3px 0;
    color: black;
    background: #e8f0f8;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

/* Cambia lo sfondo quando la checkbox è selezionata */
.graphics-time input[type="checkbox"]:checked + label:hover {
    background: #1d3b62; /* Sfondo blu */
    color: white; /* Cambia il colore del testo per un contrasto migliore */
}

/* Effetto hover opzionale */
.graphics-time label:hover {
    background: #c0d6e4; /* Leggermente più scuro al passaggio del mouse */
    transform: scale(0.97);
}

